{{!--  The jumbo.hbs template corresponds to the <Jumbo> --}}
<div class="jumbo">
  <div class="right tomster"></div>
  {{!-- here will go the CONTENT:  <Jumbo>any_CONTENT</Jumbo> --}}
  {{yield}}
</div>