<Jumbo>
  <h2>Examples</h2>
  <p>    examples and in-depth explanations    </p>
  {{!-- "contact" instead of "/getting-in-touch" --}}
    <LinkTo @route="index" class="button">index</LinkTo>
</Jumbo>
<h4>Component State and Actions</h4>
<h4>Code example</h4>
<pre><code>

</code></pre>
<hr/>